html{
 width:100%;
 height:100%;
}
body{
 margin:0;padding:0;
 height:100%;
}

#menu-bar{
 width:100%;
 padding:5px;
 max-height:30px;
 background-color:#EFF0EE;
 color:#959595;
 display:block;
 white-space: nowrap;
}
#menu-bar .url{
 width:50%;
 min-height:20px;
 font-size:14px;
}
#menu-bar button-area {
  width:30%
}
#menu-bar button{
 font-size:14px;
 min-height:20px;
}
#webview_wrapper{
 height:100%;
}
.webview {
  height:100%;
}
#time {
  width:40px;
}
